/* trying to add the minecraft font and I think I did */
@font-face {
    font-family: "MinecraftRegular-Bmg3";
    src: url(others/minecraft-font/MinecraftRegular-Bmg3.otf);
}

body, html, button {
    font-family: "MinecraftRegular-Bmg3";
    background-color: #140c42;
    color: #a2a8f7;
    margin: 5%;
    margin-top: 0%;
}

#buttonGifs {
  width: 100%;
}


/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #140c42;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    margin: 2%;
    transition: 0.3s;
    width: 16%;
  }
  
  /* Adds a border and border-width of buttons on hover */
  .tab button:hover {
    border: 0.4em #a2a8f7;
    display: inherit;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    border: 0.2em #a2a8f7;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
  }

  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  #profilePic {
      width: 30%;
      float: left;
      align-content: center;
      margin: 1%;
  }

  #profileContent {
      width: 60%;
      float: right;
      font-size: 90%;
      text-align: justify;
      align-items: center;
  }