/* trying to add the minecraft font and I think I did */
@font-face {
    font-family: "MinecraftRegular-Bmg3";
    src: url(others/minecraft-font/MinecraftRegular-Bmg3.otf);
}

body, html {
    font-family: "MinecraftRegular-Bmg3";
    background-color: #140c42;
    color: #a2a8f7;
    margin: 5%;
    margin-top: 2%;
}

button {
  font-size: 90%;
  font-family: "MinecraftRegular-Bmg3";
  color: #a2a8f7;
}

.tabGifs {
  width: 80%;
}

.container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}


/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #140c42;
  width: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  outline: none;
  cursor: pointer;    
  margin: 0%;
  padding: 3%;
  transition: 0.3s;
  width: 20%;
  border-width: 3%;
  border-color: transparent;
  font-size: 70%;
}

/* Adds a border and border-width of buttons on hover */
.tab button:hover {
  border-bottom-width: 0.4em;
  border-bottom-color: #a2a8f7;    
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom-width: 0.4em;
  border-bottom-color: #2822ce; 
}

/* Style the tab content */

#profile {
  column-width: 450px;
}

img {
  width: 20em;
}

#text {
  flex-grow: 2;
  flex-shrink: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  text-justify: distribute;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Trying to make the website responsive for a laptop and/or phone. */

/* iPads/tablets. */
@media screen and (max-width: 768px) {
  html, body {
    font-family: "MinecraftRegular-Bmg3";
    background-color: #140c42;
    color: #a2a8f7;
    max-width: 768px;
    max-height: 1024px;
    height: 700px;
    width: 1000px;

  }

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    padding-right: 10em;
  }

  img {
    width: 18em;
  
  }

  #text {
    flex-grow: 2;
    flex-shrink: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    width:80%;
  }

  button {
    font-size: 90%;
    font-family: "MinecraftRegular-Bmg3";
    color: #a2a8f7;
  }
  
  .tabGifs {
    width: 80%;
  }
    
  /* Style the tab */
  .tab {
    overflow: hidden;
    background-color: #140c42;
    width: 100%;
  }
}

/* Smaller tablets. */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* This is for the iPohne X,  however, I think it works on other phones too. */
@media screen and (max-width: 375px) {
  html, body {
    font-family: "MinecraftRegular-Bmg3";
    background-color: #140c42;
    color: #a2a8f7;
    max-width: 375px;
    max-height: 812px;

}
  
  .column {
    width: 300px;
    padding-left: 5px;
  }

  img {
    width: 20em;
  
  }
}